#background {
    background-image: url('../img/grass.jpg');
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0;

    animation: opacity0To1 1s ease forwards;
}

.weather-parent-container {
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;
}

.header-navigation-links,
.header-navigation-links-separator {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.5em 0;
}

.header-navigation-links:hover {
    color: rgb(0, 0, 0); 
}

.header {
    background-color: var(--primary-red);
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    transform: translateY(-500%);

    animation: 
    backToInitial 600ms ease forwards,
    opacity0To1 1s ease forwards;
}

.head-title {
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
}
.notification-logo {
    font-size: 2rem;
    padding-left: 3em;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    color: var(--white-background);
    cursor: pointer;
    transition: transform 500ms;
}

.notification-logo:hover {
    color: rgb(0, 0, 0);
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.position-relative-container {
    position: relative;
    width: 100vw;
}

.weatherParentContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.weatherContainer{
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 4em;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    gap: 1.5em;
    padding: .2em 1em .2em .2em;
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--primary-red);
    justify-content: center;
    align-items: center;

    opacity: 0;
    animation: opacity0To1 700ms ease-in 300ms forwards;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-red);
}

.icon {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}

.temp-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.temp{
    font-size: 4rem;
}

.court-schedule-parent-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.court-schedule-container {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    position: relative;
    
}

.court-schedule-title,
.court-schedule-content {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    font-size: 1.5rem;
    border-radius: 2em;
}

.court-schedule-title {
    z-index: 101;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 2em;

    background-color: var(--primary-red);
    color: var(--white-background);

    transition: all 500ms ease;
}

.court-schedule-content {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding:  1em 1.5em;
    font-weight: bold;
    z-index: 100;
    background-color: var(--white-background);
    color: var(--primary-red);
}

.court-schedule-content.active {
    transform: translateY(40%);
    display: flex;
}

.court-schedule-title i {
    font-size: 2rem;
}

.court-schedule-item i {
    font-size: 1.25rem;
}

.fa-caret-down.active {
    transform: rotate(180deg);
}

#toggleHamburger, .displayNone {
    display: none;
}

#dropdown {
    display: none;
}

.dropdown-item {
    display: flex;
    gap: 0.5em;
}

.dropdown-item a {
    color: rgb(0, 0, 0);
}

.dropdown-item:last-child {
    border-top: 1px solid var(--primary-red);
    padding-top: 1.5em;
}

.toggleHamburgerHidden{
    height: 50px;
    width: 50px;
    display: none;
}

#toggleHamburger, .displayNone {
    display: none;
}

.toggleHamburgerHidden{
    height: 50px;
    width: 50px;
    display: none;
}

@media (max-width: 650px) {
    #toggleHamburger {
        z-index: 10000;
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 200ms;
    }
    #toggleHamburger::before{
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #fff;
        transition: 200ms;
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #fff;
    }
    #toggleHamburger.active::before{
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    #toggleHamburger::after{
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: #fff;
        transition: all 200ms ease-in-out;
        transform: translateY(10px);
    }
    #toggleHamburger.active::after{
        transform: translateY(0px) rotate(-45deg);
    }
    
    #dropdown {
        position: absolute;
        top: 0;
        z-index: 1000;
        right: 0;
        width: 30rem;
        background-color: white;
        padding: 1em;
        padding-bottom: 1.5em;
        font-size: 2rem;
        flex-direction: column;
        gap: 1.5em;
    }

    .before-logout-mobile::after {
        content: "";
        display: block;
        margin-top: 1em;
        width: 100%;
        height: 1px;
        background-color: var(--primary-red);
    }

    #dropdown a:last-child {
        font-size: 2.5 rem;
        font-weight: bold;
    }

    #dropdown > * {
        color: black;
    }

    #dropdown.active {
        display: flex;
    }

    .hidden{
        visibility: hidden;
        display: block;
    }
}